/* CSS 주석(ctrl + /) */
/* 태그 셀렉터: 태그 이름을 지정해서 같은 태그의 스타일을 바꾼다. */

h1 {
    color: blueviolet;
}

h2 {
    color: black;
}

/* id 셀렉터, class 셀렉터 */

/* id 셀렉터: 태그 안에 id="이름" 그 id 값에 해당하는 것을 찾음 */
/* #id이름으로 id를 찾는다. */
/* id는 html파일 안에서 중복될 수 없다. */

#p1 {
    color: yellow;
}

#p2 {
    color: orange;
}

/* class 셀렉터: 태그 안에 class="이름" 형식으로 지정된 것을 찾음 */
/* .클래스명 */
/* 클래스는 1개의 태그에 여러개 사용 가능 */
/* 여러개의 클래스가 있는 태그를 선택할 때 */
/* .클래스명1.클래스명2.클래스명3 */

.p1 {
    font-size: 30px;
}

.p2 {
    text-align: center;
    color: brown;
}

.center {
    text-align: center;
}

. strong {
    font-weight: bolder;
}

.graycolor {
    color: gray;
}

.browncolor {
    color: brown;
}

/* p1 strong center browncolor 
클래스를 모두 가진 태그 선택 */

.p1.strong.center.browncolor {
    font-size: 15px;
}


/* 어트리뷰트 셀렉터 */
/* 어트리뷰트(속성) 태그 안의 src, href, name, value */
/* 태그 안의 속성 찾음 */
/* 태그명[속성="값"]: 지정된 속성을 가지면서 값이 같은 요소를 선택 */

a[href] {
    color: aquamarine;
}

a[target="_blank"] {
    color: black;
    font-size: 30px;
}

/* 태그명[속성~="값"] 지정된 속성 값을 포함하는 요소를 선택(공백으로 분리된 값) */
h2[title~="first"] {
    color: red;
}

/* 태그명[속성|="값"] 값- 의 형태를 찾음 heading- */
h2[title|="heading"] {
    color: gray;
    font-size: 40px;
}

/* 태그명[속성^="값"] 값으로 시작하는 요소 http://, https:// */
a[href^="http://"] {
    text-align: right;
    color: brown;
}

/* 태그명[속성$="값"] 값으로 끝나는 요소를 찾음 .html, .csv, .jpg */
a[href$=".html"] {
    text-align: center;
    color: gray;
}

/* 태그명[속성*="값"] 지정된 속성 값을 포함하는 요소 선택 */
p[class*="test"] {
    color: red;
}