/* 복합셀렉터 combinator */
/* 부모 자식 조상 자손/후손 */

/* 후손 셀렉터 */
/* div p */
div p {
  color: red;
}

/* 자식 셀렉터 child combinator */
/* 셀렉터 A > 셀렉터 B */
div > p {
  color: black;
}

span > p {
  color: brown;
}

/* 형제(동위) 셀렉터 sibling combinator */
/* 형제 관계에서 뒤에 위치하는 요소를 선택할 때 사용 */

/* 인접 형제 셀렉터 (셀렉터 A + 셀렉터 B) */
/* 셀렉터 A의 형제 요소 중 셀렉터 A 바로 뒤에 위치하는 셀렉터B 요소를 선택(연속적으로 와야 함) */
/* A와 B사이에 다른 요소가 있으면 선택되지 않음 */

/* 일반 형제 셀렉터 (셀렉터 A ~ 셀렉터 B) */
/* 셀렉터 A의 형제 요소 중 뒤에 위치하는 셀렉터B의 요소를 모두 선택 */

/* 인접 형제 셀렉터 */
p + ul {
  color: red;
}

/* 일반 형제 셀렉터 */
span ~ ul {
  color: green;
}


h3 + ul {
  color: black;
}

/* 가살 클래스 셀렉터 */
/* 요소의 특정 상태에 따라 스타일을 정할 때 사용 */
/* 특정 상태란? 마우스가 올라와 있을 때, 링크를 방문했을 때 */

a:hover {
  background-color: red;
}

input:focus {
  background-color: yellow;
}